body {
    background-image: url("../img/background.png");
    background-repeat: repeat;
}

#map {
    height: 400px;
    width: 500px;
}

.wallpaper_night{
    background-image: url("../img/night.jpg");
}

.wallpaper_day{
    background-image: url("../img/day.jpg");
}
.circle {
    font-family: 'Russo One', sans-serif;
    height: 130px;
    width: 130px;
    border-radius: 50%;
    font-size: 40px;
    background-color: white;
}
.circle>i{
    font-size: 70px;
}