body {
    background-image: url("../img/background.png");
    background-repeat: repeat;
}

#map {
    height: 400px;
    width: 500px;
}

#icon{
    font-size: 100px;
}

#wallpaper{
    background-image: url("../img/day.jpg");
    height: 100%;
    width: 100%;
}