{% extends "base.html" %}
{% load static %}

{% block head_content %}
    <title>Weather App</title>
{% endblock %}

{% block container %}
    <style>
        #map {
            height: 400px; /* The height is 400 pixels */
            width: 100%; /* The width is the width of the web page */
        }
    </style>
    {% if error %}
        <p class="alert alert-danger mb-4">{{ error }}</p>
    {% endif %}
    <h1>Pronostico del clima</h1>
    <h5>Seleccione una cuidad</h5>
    <div id="map"></div>
    <form method="post" class="d-flex flex-column justify-content-center align-items-center">{% csrf_token %}
        <input type="text" placeholder="Lat" class="" id="lat" name="lat" value="0">
        <input type="text" placeholder="Lon" class="" id="lon" name="lon" value="0">
        <button type="submit" class="mt-5 btn btn-primary">Buscar</button>
    </form>
    <script>
        var map, infoWindow;

        function initMap() {
            map = new google.maps.Map(document.getElementById('map'), {
                center: {lat: -34.397, lng: 150.644},
                zoom: 6
            });
            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(function (position) {
                    var pos = {
                        lat: position.coords.latitude,
                        lng: position.coords.longitude
                    };
                    map.setCenter(pos);
                    var marker = new google.maps.Marker({
                        position: pos,
                        map: map,
                        icon: {
                            path: google.maps.SymbolPath.CIRCLE,
                            scale: 10
                        },
                    });
                    document.getElementById("lat").value = (position.coords.latitude).toPrecision(6);
                    document.getElementById("lon").value = (position.coords.longitude).toPrecision(6);
                }, function () {
                    handleLocationError(true, infoWindow, map.getCenter());
                });
            } else {
                // Browser doesn't support Geolocation
                handleLocationError(false, infoWindow, map.getCenter());
            }
            var marker;

            function placeMarker(location) {
                document.getElementById("lat").value = (location.lat()).toPrecision(6);
                document.getElementById("lon").value = (location.lng()).toPrecision(6);
                if (marker) {
                    marker.setPosition(location);
                } else {
                    marker = new google.maps.Marker({
                        position: location,
                        map: map
                    });
                }
            }

            google.maps.event.addListener(map, 'click', function (event) {
                placeMarker(event.latLng);
            });
        }

        function handleLocationError(browserHasGeolocation, infoWindow, pos) {
            infoWindow.setPosition(pos);
            infoWindow.setContent(browserHasGeolocation ?
                'Error: The Geolocation service failed.' :
                'Error: Your browser doesn\'t support geolocation.');
            infoWindow.open(map);
        }
    </script>
    <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAdmosu9TlxK6d9wcBMwAaED3l0xpjl_oc&callback=initMap">
    </script>
{% endblock %}