{% extends "base.html" %}
{% load static %}

{% block head_content %}
    <title>Weather App</title>
{% endblock %}

{% block container %}
    <d class="container d-flex flex-column align-items-center">
        {% if error %}
            <p class="alert alert-danger mb-4">{{ error }}</p>
        {% endif %}
        <div class="m-1 mt-1">
            <h1>Pronostico del clima</h1>
        </div>
        <div class="m-1">
            <h5>Seleccione una cuidad</h5>
        </div>
        <div id="map"></div>
        <div class="btn-group m-2" role="group">
            <button class="btn btn-secondary" id="bogota">Bogota</button>
            <button type="button" class="btn btn-secondary">Tokyo</button>
            <button type="button" class="btn btn-secondary">Paris</button>
            <button type="button" class="btn btn-secondary">washington</button>
        </div>
        <form method="post" class="d-flex flex-column justify-content-center align-items-center">
            {% csrf_token %}
            <div class="form-inline m-1">
                <div class="m-1">
                    <label for="lat">Latitud</label>
                    <input type="text" placeholder="Lat" class="form-control" id="lat" name="lat" value="0" readonly>
                </div>
                <div class="m-1">
                    <label for="lon">Longitud</label>
                    <input type="text" placeholder="Lon" class="form-control" id="lon" name="lon" value="0" readonly>
                </div>
            </div>
            <button type="submit" class="mt-1 btn btn-primary">Buscar</button>
        </form>
    </d>
    <script src="{% static 'js/scripts.js' %}"></script>
    <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAdmosu9TlxK6d9wcBMwAaED3l0xpjl_oc&callback=initMap">
    </script>
{% endblock %}