{% extends "base.html" %}
{% load static %}

{% block head_content %}
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
          integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <title>Weather App / {{ city_name }}</title>
{% endblock %}

{% block container %}
    <div class="container d-flex flex-column align-items-center">
        {% if status == 'night' %}
            <div class="d-flex justify-content-center rounded wallpaper_night col-12">
                <div class="circle mt-5 mb-5 d-flex justify-content-center flex-column text-center">
                    <i class="wi {{ icon }}"></i>
                </div>
            </div>
        {% endif %}
        {% if status == 'day' %}
            <div class="d-flex justify-content-center rounded wallpaper_day col-12">
                <div class="circle mt-5 mb-5 d-flex justify-content-center flex-column text-center">
                    <i class="wi {{ icon }}"></i>
                </div>
            </div>
        {% endif %}
        <h1>{{ main }}</h1>
        <h2>{{ description }}</h2>
        <h2><i class="fas fa-thermometer"></i> {{ temp }} °C</h2>
        <h2>{{ country }}</h2>
        <h2>{{ city_name }}</h2>
    </div>
{% endblock %}